:root {
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
  --white: white;
}

$bp-medium: 500px;
$bp-large: 700px;

html {
  @media screen and (max-width: 320px) {
    font-size: 0.7rem;
  }
}

body {
  font-family: "Rubik", sans-serif;
}

.footer {
  padding: 1rem;
}
