:root {
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
  --white: white;
  --detail-height: 15rem;
}

$bp-medium: 500px;
$bp-large: 700px;

html {
  @media screen and (max-width: 320px) {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: $bp-large) {
  :root {
    --detail-height: 13rem;
  }
}

body {
  font-family: "Rubik", sans-serif;
  position: relative;
}

.footer {
  padding: 1rem;
}
