.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1440px;
  margin: auto;

  .details-section {
    background-image: url(../images/pattern-bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: var(--detail-height);
    padding: 1rem;
    position: relative;
    z-index: 2;

    @media screen and (min-width: $bp-large) {
      background-image: url(../images/pattern-bg-desktop.png);
    }

    &__heading {
      color: var(--white);
      text-align: center;
      margin-bottom: 1rem;
    }

    &__form {
      display: flex;
      max-width: 440px;
      margin: auto;
      margin-bottom: 1rem;

      @media screen and (min-width: $bp-large) {
        margin-bottom: 1.5rem;
      }

      .dearch-input {
        width: 100%;
        padding: 1rem;
        background-color: var(--white);
        font-size: 1.2rem;
        border: none;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        outline: none;

        @media screen and (max-width: 440px) {
          &::placeholder {
            font-size: 0.9rem;
          }
        }
      }

      .btn-submit {
        background-color: var(--very-dark-gray);
        border: none;
        padding: 1rem 1.5rem;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        cursor: pointer;

        &:hover,
        &:active {
          background-color: var(--dark-gray);
        }
      }
    }

    .card {
      background-color: var(--white);
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      text-align: center;
      border-radius: 15px;
      margin-bottom: -50%;
      max-width: 500px;
      margin: auto;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);

      @media screen and (min-width: $bp-large) {
        max-width: 46rem;
        flex-direction: row;
        padding: 1.5rem;
        justify-content: space-between;

        li:not(:first-child) {
          border-left: 1px solid var(--dark-gray);
          margin-bottom: 0;
        }
      }

      li {
        padding: 0 1rem;
        // margin-bottom: 1.2rem;

        h2 {
          font-weight: 500;
          font-size: 0.7rem;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: var(--dark-gray);
          margin-bottom: 0.3rem;
        }

        p {
          font-size: 1.1rem;
          font-weight: 500;
          color: var(--very-dark-gray);
          line-height: 1;
        }
      }
    }
  }

  .map {
    min-height: calc(100vh - var(--detail-height));
    z-index: 1;
  }
}

//////////////
/// Modal

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  transition: all 0.3s ease;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &__info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 100%;
    max-width: 30rem;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.288);

    button {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background-color: rgb(122, 49, 68);
      border: none;
      color: white;
      border-radius: 9999px;
      height: 2rem;
      width: 2rem;
      cursor: pointer;

      &:hover,
      &:active {
        background-color: rgb(53, 21, 30);
      }
    }

    h1 {
      margin-bottom: 1rem;
    }
  }
}

.modal.show {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
